.formulario {
    @include flex(row,center,flex-start)
}
form {
    @include flex(column,center,flex-start);
    width: 50%;
    min-width: 250px;
    padding: 2vw;
    margin: 4vw;
    border: solid 1px black;
    border-radius: 1em;
    h2{
        @include flex(row,center,flex-start);
        padding: 1em;
        padding-top: 0px;
    }
    p {
        @extend h2;
        font-size: 1.5em;
    }
}
.formularioInput {
    @include flex(column,space-between,flex-start);
    padding: 5px;
    width: 100%;
    input {
        width: 100%;
    }
}
textarea {
    width: 100%;
}
.boton input {
    width: 4em;
    padding: 5px;
    margin: 5px;
}

@media (min-width:500px) {
    .formularioInput {
        @include flex(row,space-between,flex-start);
        input {
            width: 60%;
        }
    }
}