.accordion{
    width: 75%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    .canales{
        display: flex;
        flex-direction: column;
        .contenedorCanal{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 1em;
            .quantum,.robot,.minFisica,.minTierra,.kurzgesagt,.scishow{
                display:flex;
                flex-direction: column;
                margin-left: 20px;
            }
        }
        .imgCanal{
            width: calc(3em + 5vw);
        }
        a{
            color: blue;
            font-weight: bold;
        }
        p{
            color: black;
        }
    }
}
/* Esta media es particular para evitar el overflow del footer para los logos de las redes sociales */
@media (min-width:300px){
    .contenedorCanal{
        flex-wrap: nowrap !important;
        justify-content: flex-start !important;
        /* Coloco el !important ya que sino no toma efecto el cambio en el flex-wrap ni en justify-content */
    }
}

