@media (min-width: 500px) {
    .logoBody {
        display: none;
    }

    .logoHamburguesa {
        display: block;
        position: absolute;
        left: 50%;
        height: 80px;
    }

    .menuHamburguesa {
        display: flex;
        flex-direction: row;
        min-height: 85px;
    }

    .articulo {
        grid-area: articulo;
    }

    aside {
        grid-area: sidebar;
    }

    .segundaSeccion {
        display: grid;
        column-gap: 5em;
        grid-template-areas:
            "articulo"
            "sidebar";
    }

    .novedad{
        @include flex(row-reverse,center,center);
    }
}

@media (min-width: 768px){
    header{
        background-image: url(../img/backgroundHeader.webp);
        background-size: cover;
    }
    
    .carousel-indicators{
        bottom: 8rem;
    }
    .carousel-caption{
        position: static;
        color: black;
    }

    .segundaSeccion {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-template-areas:
            "articulo sidebar";
    }

    footer {
        background-image: url(../img/backgroundFooter.webp);
        background-size: cover;
    }
    .primeraSeccion {
        background-image: url(../img/backgroundCarrusel.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1024px) {
    .carrusel {
        padding: 10px 30px 10px 30px;
        background-color: rgba(230, 243, 174, 0.986);
        max-width: 900px;
    }
    .menuHamburguesa {
        display: none;
    }
    .headerGrande {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    header {
        padding: 20px;
        border-bottom: 1px gray solid;
        top: 0px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    nav {
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            width: 100%;
            .logo {
                height: 7em;
            }
            a {
                height: 3.1em;
                font-size: 1.5em;
                margin-left: 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            a:hover {
                background-color: #cbd7e4;
            }
        }
    }
    .logoHeader {
        display: block;
    }
    
    .pieSecciones{
        display: flex;
    }
    
    .novedad{
        p{
            display: block;
            margin-top: 2em;
            font-weight: 500;
        }
        a{
            text-decoration: underline;
        }
        @include flex(column,center,center);
    }
}