.novedad{
    min-width: 250px;
    width: 75%;
    margin: auto;
    margin-top:3em;
    margin-bottom: 3em;
    border: solid 1px black;
    border-radius: 15px;
    padding: 2em;
    text-align: center;

    h2{
        font-size: calc(1rem + .8vw)
    }
    @include flex(column,center,flex-start);
    img{
        width: 80%;
    }
    p{
        display: none;
    }
}