@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5em;
}

/* Este header aparecerá para pantallas de escritorio solamente */
header {
  background-color: #f6f9fc;
}

.headerGrande {
  display: none;
}

.menuHamburguesa {
  color: black;
  min-height: 48px;
}
.menuHamburguesa a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  max-width: 200px;
  font-variant: small-caps;
  text-shadow: 1px 1px 17px gray;
}

.hamburguesa, .cruz {
  height: 48px;
}

.menuHamburguesa input[type=checkbox], .menuHamburguesa .fa-bars, .menuHamburguesa .fa-times {
  position: absolute;
  /* El absolute permite que tanto el icono de menu como la cruz estén en la misma posición que input */
  top: 0;
  width: 48px;
  height: 48px;
}
.menuHamburguesa .fa-bars, .menuHamburguesa .fa-times {
  pointer-events: none;
}
.menuHamburguesa input[type=checkbox] {
  opacity: 0;
}
.menuHamburguesa nav {
  display: none;
}
.menuHamburguesa nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.menuHamburguesa input:checked ~ nav {
  display: flex;
}
.menuHamburguesa input:checked ~ .fa-bars {
  display: none;
}
.menuHamburguesa input:not(:checked) ~ .fa-times {
  display: none;
}

/* Este codigo es para que no aparezcan a menos que lo indique la media query correspondiente */
.logoHeader, .logoHamburguesa {
  display: none;
}

.logo {
  height: 4em;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carrusel {
  width: 80%;
  margin: auto;
}
.carrusel img {
  width: 90vw;
}

.tituloSeccion {
  border-bottom: solid 1px lightskyblue;
  display: flex;
}

.articulo {
  margin: auto;
  font-family: "Lato", sans-serif;
}
.articulo h2, .articulo form p, form .articulo p {
  background-color: red;
  color: white;
  font-style: italic;
  padding: 0.5vh;
}
.articulo h3 {
  padding: 0.1vh 0px;
}
.articulo p {
  padding: 0.05vh 0px;
}
.articulo a {
  text-decoration: underline;
  color: red;
}

.segundaSeccion {
  margin: auto;
  width: 90%;
  margin-top: 20px;
}

.imagenNoticia {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imagenArticulo {
  width: 80%;
}

.imagenSites {
  width: 95%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.fuenteImagen {
  font-style: italic;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  margin: 0;
}

.curiosidad {
  margin-top: 1em;
  margin-bottom: 1em;
}

.curiosidadImagen {
  margin: 10px;
  width: 70%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  color: white;
  background-color: #123456;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
  justify-content: center;
  font-weight: bold;
  background-image: none;
}
footer ul a {
  color: white;
}

.pieSecciones {
  display: none;
}

.piePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  padding: 2.5vh;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoRedes {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: flex-start;
  flex-wrap: wrap;
}
.logoRedes a {
  margin-right: 30px;
}

.iconoRedes {
  height: 8vh;
}

.copyright {
  padding: 0.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barraFooter {
  width: 75%;
  margin-bottom: 20px;
}

.accordion {
  width: 75%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.accordion .canales {
  display: flex;
  flex-direction: column;
}
.accordion .canales .contenedorCanal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.accordion .canales .contenedorCanal .quantum, .accordion .canales .contenedorCanal .robot, .accordion .canales .contenedorCanal .minFisica, .accordion .canales .contenedorCanal .minTierra, .accordion .canales .contenedorCanal .kurzgesagt, .accordion .canales .contenedorCanal .scishow {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.accordion .canales .imgCanal {
  width: calc(3em + 5vw);
}
.accordion .canales a {
  color: blue;
  font-weight: bold;
}
.accordion .canales p {
  color: black;
}

/* Esta media es particular para evitar el overflow del footer para los logos de las redes sociales */
@media (min-width: 300px) {
  .contenedorCanal {
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    /* Coloco el !important ya que sino no toma efecto el cambio en el flex-wrap ni en justify-content */
  }
}
.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  min-width: 250px;
  padding: 2vw;
  margin: 4vw;
  border: solid 1px black;
  border-radius: 1em;
}
form h2, form p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  padding-top: 0px;
}
form p {
  font-size: 1.5em;
}

.formularioInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
}
.formularioInput input {
  width: 100%;
}

textarea {
  width: 100%;
}

.boton input {
  width: 4em;
  padding: 5px;
  margin: 5px;
}

@media (min-width: 500px) {
  .formularioInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .formularioInput input {
    width: 60%;
  }
}
.novedad {
  min-width: 250px;
  width: 75%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border: solid 1px black;
  border-radius: 15px;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.novedad h2, .novedad form p, form .novedad p {
  font-size: calc(1rem + 0.8vw);
}
.novedad img {
  width: 80%;
}
.novedad p {
  display: none;
}

.nosotros {
  width: 70%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

@media (min-width: 500px) {
  .logoBody {
    display: none;
  }
  .logoHamburguesa {
    display: block;
    position: absolute;
    left: 50%;
    height: 80px;
  }
  .menuHamburguesa {
    display: flex;
    flex-direction: row;
    min-height: 85px;
  }
  .articulo {
    grid-area: articulo;
  }
  aside {
    grid-area: sidebar;
  }
  .segundaSeccion {
    display: grid;
    -moz-column-gap: 5em;
         column-gap: 5em;
    grid-template-areas: "articulo" "sidebar";
  }
  .novedad {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  header {
    background-image: url(../img/backgroundHeader.webp);
    background-size: cover;
  }
  .carousel-indicators {
    bottom: 8rem;
  }
  .carousel-caption {
    position: static;
    color: black;
  }
  .segundaSeccion {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: "articulo sidebar";
  }
  footer {
    background-image: url(../img/backgroundFooter.webp);
    background-size: cover;
  }
  .primeraSeccion {
    background-image: url(../img/backgroundCarrusel.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) {
  .carrusel {
    padding: 10px 30px 10px 30px;
    background-color: rgba(230, 243, 174, 0.986);
    max-width: 900px;
  }
  .menuHamburguesa {
    display: none;
  }
  .headerGrande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header {
    padding: 20px;
    border-bottom: 1px gray solid;
    top: 0px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  nav ul .logo {
    height: 7em;
  }
  nav ul a {
    height: 3.1em;
    font-size: 1.5em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav ul a:hover {
    background-color: #cbd7e4;
  }
  .logoHeader {
    display: block;
  }
  .pieSecciones {
    display: flex;
  }
  .novedad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .novedad p {
    display: block;
    margin-top: 2em;
    font-weight: 500;
  }
  .novedad a {
    text-decoration: underline;
  }
}/*# sourceMappingURL=styles.css.map */